<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Lucas Haley</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Lucas Haley's Personal Website" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://lhaley.com/images/home_landscape.jpg" />
<meta property="og:image:url" content="http://lhaley.com/images/home_landscape.jpg" />
<meta property="og:image:url:width" content="1200" />
<meta property="og:image:url:height" content="559" />
<meta property="og:image:url:type" content="image/jpg" />
<meta property="og:title" content="Lucas Haley" />
<meta property="og:description" content="Personal Website" />
<meta property="og:url" content="http://lhaley.com" />
<meta property="og:site_name" content="Lucas Haley" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Lucas Haley" />
<meta name="twitter:description" content="Personal Website" />
<meta name="twitter:site" content />
<link rel="SHORTCUT ICON" href="/favicon.ico">
<link rel="stylesheet" href="/styles/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap-theme.css">
<link rel="stylesheet" href="/styles/dependencies/bootstrap.css">
<link rel="stylesheet" href="/styles/index.css">
<link rel="stylesheet" href="/styles/scrollToTop.css">

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/navbar-highlight.js"></script>
<script src="/js/scrollToTop.js"></script>
