<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head_tag_manager %>
    <% include ../partials/head %>
    <!-- <link rel="stylesheet" href="/styles/exclude/home.css"> -->
    <script src="/js/exclude/reset.js"></script>
</head>
<body>
    <% include ../partials/header_tag_manager %>
    <div id="navbar-container">
        <% include ../partials/header %>
    </div>
    <div class="body">
      <div class="content">
        <div>RESET PAGE</div>
      </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>
